@page
@model LoginModel

<div class="row">
    <div class="col-12 d-flex justify-content-center">
        <section class="glossy-background p-5 rounded mt-5">
            <form id="account" method="post">
                @*<div asp-validation-summary="All" class="text-danger"></div>*@
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-baby-green col-5 font-weight-bold">Login</button>
                    <a class="btn btn-baby-blue col-5 offset-2 font-weight-bold" role="button" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
