@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center ml-auto">
            <MudButton Class="app-header-color mr-2"
                       OnClick="@(() => Navigation.NavigateTo("/ProfileEdit"))">
                @context.User.Claims.First(c => c.Type == "DisplayName").Value
            </MudButton>
            
            <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"
                           Class="app-header-color app-header-button">
                    Logout
                </MudButton>

                <input name="__RequestVerificationToken" type="hidden"
                       value="@TokenProvider.xsrfToken">
            </form>
        </div>
    </Authorized>
</AuthorizeView>