@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center ml-auto">
            <a class="font-weight-bold app-header-color mr-2" href="Identity/Account/Manage/Index">
                @context.User.Identity.Name
            </a>
            <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                <MudButton ButtonType="ButtonType.Submit"
                           Variant="Variant.Filled"                           
                           Class="app-header-color app-header-button">
                    Logout
                </MudButton>

                <input name="__RequestVerificationToken" type="hidden"
                       value="@TokenProvider.xsrfToken">
            </form>
        </div>
    </Authorized>
</AuthorizeView>